<a href="https://colab.research.google.com/github/Seogury/cp2_team3/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC(%EB%B6%84%EC%84%9D).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 전처리

## 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
import pandas as pd

df = pd.read_csv('/content/gdrive/MyDrive/2019-Oct.csv')

In [ ]:
#데이터 확인
df.head(1)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c

In [ ]:
df.shape

(42448764, 9)

In [ ]:
df.dtypes

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [ ]:
df.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

In [ ]:
df.dropna(subset = ['category_code'],inplace = True)

In [ ]:
df.isnull().sum()

event_time             0
event_type             0
product_id             0
category_id            0
category_code          0
brand            2372533
price                  0
user_id                0
user_session           2
dtype: int64

In [ ]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
...,...,...,...,...,...,...,...,...,...
42448757,2019-10-31 23:59:58 UTC,view,1004870,2053013555631882655,electronics.smartphone,samsung,275.25,518956209,6764041a-9285-4869-8a32-a79adf31d212
42448758,2019-10-31 23:59:58 UTC,view,2702331,2053013563911439225,appliances.kitchen.refrigerators,lg,527.43,524356542,153f9818-4d32-4e8b-ba9f-f355094e8ae4
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,22c57267-da98-4f28-9a9c-18bb5b385193
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,4c14bf2a-2820-4504-929d-046356a5a204

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28933155 entries, 1 to 42448762
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.2+ GB

In [ ]:
df.event_type

1           view
2           view
3           view
4           view
5           view
            ...
42448757    view
42448758    view
42448759    view
42448761    view
42448762    view
Name: event_type, Length: 28933155, dtype: object

In [ ]:
#event_type labeling
mapping = {'view':1, 'cart':2, 'purchase': 3}
df['event_type'] = df.event_type.map(mapping)

In [ ]:
# df['brand']#[df['brand']]

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['user_session']=encoder.fit_transform(df['user_session'])

In [ ]:
# df.to_csv('oct_small.csv')

## 카테고리 나누기

In [ ]:
#카테고리 나누기
df['category_code_split']=df['category_code'].apply(lambda x : x.split('.'))

In [ ]:
#대분류, 중분류
df['main_category'] = [x[0] for x in df['category_code_split']]
df['middle_category'] = [x[1] for x in df['category_code_split']]

In [ ]:
#소분류
sub_list = []
for x in df['category_code_split']:
  try:
    sub_list.append(x[2])
  except:
    sub_list.append(None)

In [ ]:
df['sub_category'] = sub_list

In [ ]:
df.drop('category_code_split',axis = 1,inplace = True)

In [ ]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,main_category,middle_category,sub_category
1,2019-10-01 00:00:00 UTC,1,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,3885993,appliances,environment,water_heater
2,2019-10-01 00:00:01 UTC,1,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,2280166,furniture,living_room,sofa
3,2019-10-01 00:00:01 UTC,1,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,3288775,computers,notebook,None
4,2019-10-01 00:00:04 UTC,1,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,5247018,electronics,smartphone,None
5,2019-10-01 00:00:05 UTC,1,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,344058,computers,desktop,None

## 문자 → 시간열

In [ ]:
from datetime import datetime, timedelta, timezone

df['event_time']=pd.to_datetime(df['event_time'])#.datetime.tz_convert(None)
#시간대 설정
timezone_dubai = timezone(timedelta(hours=4))
df['event_time'] = df['event_time'].apply(lambda x : x.astimezone(timezone_dubai))

In [ ]:
df['month'] = df['event_time'].dt.month
df['day'] = df['event_time'].dt.day
df['week'] = df['event_time'].dt.dayofweek