<a href="https://colab.research.google.com/github/Seogury/cp2_team3/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 데이터 구성

In [ ]:
con = (df['main_category']=='electronics') | (df['main_category']=='appliances') | (df['main_category']=='computers') 
df2 = df[con].drop(['event_time','user_session','category_id'], axis = 1)

In [ ]:
df2.to_csv('df2.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
df3 = df2[df2['event_type']==3]

In [ ]:
df_ele = df3[(df3['main_category']=='electronics')]
df_app = df3[(df3['main_category']=='appliances')]
df_com = df3[(df3['main_category']=='computers')]

### user

In [ ]:
df3 = pd.read_csv('/content/gdrive/MyDrive/df3.csv')

In [ ]:
#유저별 이벤트 횟수, 평균 구매가, 브랜드, middle category
user_pur = df3.groupby('user_id').agg(main_category = ('main_category', lambda x : [i for i in x]),
                                   product = ('product_id', lambda x : [i for i in x]),
                                   mean_price = ('price', 'mean'),
                                   brand = ('brand', lambda x : [i for i in x]), 
                                   middle = ('middle_category', lambda x : [i for i in x]))#.count().reset_index()[['main_category', 'event_type']]

In [ ]:
user_pur

In [ ]:
#이벤트 횟수 세기
main_count = []
ele = []
app = []
com = []
for i in user_pur['main_category']:
  ele_count = 0
  app_count = 0
  com_count = 0
  for x in i:
    if x == 'electronics':
      ele_count += 1
    elif x == 'appliances':
      app_count += 1
    elif x == 'computers' :
      com_count += 1
  ele.append(ele_count/len(i)*100)
  app.append(app_count/len(i)*100)
  com.append(com_count/len(i)*100)

user_pur['ele_count'] = ele
user_pur['app_count'] = app
user_pur['com_count'] = com

In [ ]:
apple = []
samsung = []
other = []
for i in user_pur['brand']:
  apple_count = 0
  samsung_count = 0
  other_count = 0
  for x in i:
    if x == 'apple':
      apple_count += 1
    elif x == 'samsung':
      samsung_count += 1
    else:
      other_count += 1
  apple.append(apple_count/len(i)*100)
  samsung.append(samsung_count/len(i)*100)
  other.append(other_count/len(i)*100)

user_pur['apple_count'] = apple
user_pur['samsung_count'] = samsung
user_pur['other_count'] = other

In [ ]:
user_pur

,main_category,product,mean_price,brand,middle,ele_count,app_count,com_count,apple_count,samsung_count,other_count
user_id,,,,,,,,,,,
303160429,[electronics],[5100443],340.59,[garmin],[clocks],100.0,0.0,0.0,0.0,0.0,100.0
340041246,[electronics],[2100099],339.70,[lg],[video],100.0,0.0,0.0,0.0,0.0,100.0
384989212,[appliances],[2501816],41.44,[artel],[kitchen],0.0,100.0,0.0,0.0,0.0,100.0
401021311,[electronics],[1801805],231.64,[artel],[video],100.0,0.0,0.0,0.0,0.0,100.0
403013066,"[electronics, electronics]","[1004836, 1003304]",403.58,"[samsung, apple]","[smartphone, smartphone]",100.0,0.0,0.0,50.0,50.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
566265448,[electronics],[5100736],592.01,[apple],[clocks],100.0,0.0,0.0,100.0,0.0,0.0
566267483,[computers],[9101354],5.03,[x-game],[peripherals],0.0,0.0,100.0,0.0,0.0,100.0
566270060,"[electronics, appliances]","[1004209, 2900934]",73.71,"[samsung, hansa]","[smartphone, kitchen]",50.0,50.0,0.0,0.0,50.0,50.0
566274637,[electronics],[1005136],2011.63,[apple],[smartphone],100.0,0.0,0.0,100.0,0.0,0.0
566278294,[electronics],[1005144],1661.09,[apple],[smartphone],100.0,0.0,0.0,100.0,0.0,0.0

In [ ]:
user_pur.to_csv('user_pur.csv')

In [ ]:
df2 = df2[(df2['event_type']==1)|(df2['event_type']==2)]

In [ ]:
df2.to_csv('df2.csv')

In [ ]:
user1 = df2.groupby('user_id').agg(main_category = ('main_category', lambda x : [i for i in x]),
                                   product = ('product_id', lambda x : [i for i in x]),
                                   mean_price = ('price', 'mean'),
                                   brand = ('brand', lambda x : [i for i in x]), 
                                   middle = ('middle_category', lambda x : [i for i in x]))

In [ ]:
user1

In [ ]:
#이벤트 횟수 세기
main_count = []
ele = []
app = []
com = []
for i in user1['main_category']:
  ele_count = 0
  app_count = 0
  com_count = 0
  for x in i:
    if x == 'electronics':
      ele_count += 1
    elif x == 'appliances':
      app_count += 1
    elif x == 'computers' :
      com_count += 1
  ele.append(ele_count/len(i)*100)
  app.append(app_count/len(i)*100)
  com.append(com_count/len(i)*100)

user1['ele_count'] = ele
user1['app_count'] = app
user1['com_count'] = com

In [ ]:
user1.drop('main_category', axis = 1, inplace = True)

In [ ]:
user_cat = user1.reset_index()[['user_id', 'ele_count', 'app_count', 'com_count']]

In [ ]:
apple = []
samsung = []
other = []
for i in user1['brand']:
  apple_count = 0
  samsung_count = 0
  other_count = 0
  for x in i:
    if x == 'apple':
      apple_count += 1
    elif x == 'samsung':
      samsung_count += 1
    else:
      other_count += 1
  apple.append(apple_count/len(i)*100)
  samsung.append(samsung_count/len(i)*100)
  other.append(other_count/len(i)*100)

user1['apple_count'] = apple
user1['samsung_count'] = samsung
user1['other_count'] = other

In [ ]:
user1

In [ ]:
user1.reset_index(inplace = True)

In [ ]:
user1.info()

In [ ]:
user1.to_csv('user.csv')

In [ ]:
user1 = pd.read_csv('/content/gdrive/MyDrive/user.csv')

### product

In [ ]:
#구매된 아이템 찾기
df3 = df2[df2['event_type']==3]

In [ ]:
df2 = pd.read_csv('/content/gdrive/MyDrive/df2.csv')

In [ ]:
#아이템 별 이벤트 횟수, 가격
product = df3.groupby('product_id').agg(product_pur_count = ('event_type', 'count'),
                              total_profit = ('price', 'sum'))

In [ ]:
df3.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
df2

In [ ]:
product

In [ ]:
product.reset_index(inplace = True)

In [ ]:
#그 외 데이터 합치기
product = pd.merge(product, df3)

In [ ]:
#중복 제거
product.drop_duplicates(['product_id'], inplace = True)

In [ ]:
product.info()

In [ ]:
product.reset_index(inplace = True)

In [ ]:
product['product_id_2'] = product['product_id']

In [ ]:
product.set_index('product_id_2', inplace = True)

In [ ]:
product.to_csv('product.csv')

In [ ]:
# bins = [0, 100, 200, 300, 500, 700, 900, 1200, 1500, 1800, 2100, 3000]
# labels = ['one', 'two', 'three', 'four', '5', '6', '7','8','9','10','11']
# product['price'] = pd.cut(product['price'], bins, right=False, labels=labels)
# product.head()

    product_id  product_pur_count           category_code    brand price
0      1000978                 12  electronics smartphone  samsung     4
12     1001588                 12  electronics smartphone    meizu     2
24     1002042                  3  electronics smartphone  samsung     1
27     1002062                 18  electronics smartphone  samsung     1
45     1002098                 13  electronics smartphone  samsung     4

In [ ]:
# product['price'] = product['price'].astype(str)

In [ ]:
import pandas as pd
product = pd.read_csv('/content/gdrive/MyDrive/product.csv')

In [ ]:
product.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
product.info()

In [ ]:
product[product['main_category']=='appliances']

In [ ]:
product.drop(['event_type', 'user_id', 'total_profit'], axis = 1, inplace = True)

In [ ]:
product

,index,product_id,product_pur_count,total_profit,event_type,category_code,brand,price,user_id,main_category,middle_category,sub_category
product_id_2,,,,,,,,,,,,
1000978,0,1000978,12,3840.13,3,electronics.smartphone,samsung,333.49,560163787,electronics,smartphone,NaN
1001588,12,1001588,12,1538.18,3,electronics.smartphone,meizu,128.30,513568790,electronics,smartphone,NaN
1002042,24,1002042,3,231.42,3,electronics.smartphone,samsung,77.14,514943394,electronics,smartphone,NaN
1002062,27,1002062,18,1723.47,3,electronics.smartphone,samsung,77.14,555316329,electronics,smartphone,NaN
1002098,45,1002098,13,4818.32,3,electronics.smartphone,samsung,370.64,555356683,electronics,smartphone,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
51600010,525856,51600010,6,71.08,3,electronics.clocks,troyka,12.84,513459370,electronics,clocks,NaN
51600011,525862,51600011,4,51.36,3,electronics.clocks,NaN,12.84,515865627,electronics,clocks,NaN
51600012,525866,51600012,4,51.36,3,electronics.clocks,NaN,12.84,522626512,electronics,clocks,NaN
51600018,525870,51600018,2,27.24,3,electronics.clocks,NaN,13.62,514426008,electronics,clocks,NaN
51600020,525872,51600020,7,95.34,3,electronics.clocks,NaN,13.62,559804864,electronics,clocks,NaN

In [ ]:
product_vect = product.drop(['event_type', 'user_id', 'main_category','middle_category',	'sub_category', 'total_profit'], axis = 1)

In [ ]:
product_vect

In [ ]:
product_vect['category_code'] = [i.replace('.', ' ') for i in product['category_code']]

In [ ]:
product_vect.isnull().sum()

In [ ]:
product_vect.fillna('no', inplace = True)

In [ ]:
product_vect

        product_id  product_pur_count           category_code    brand   price
0          1000978                 12  electronics smartphone  samsung  333.49
12         1001588                 12  electronics smartphone    meizu  128.30
24         1002042                  3  electronics smartphone  samsung   77.14
27         1002062                 18  electronics smartphone  samsung   77.14
45         1002098                 13  electronics smartphone  samsung  370.64
...            ...                ...                     ...      ...     ...
525856    51600010                  6      electronics clocks   troyka   12.84
525862    51600011                  4      electronics clocks       no   12.84
525866    51600012                  4      electronics clocks       no   12.84
525870    51600018                  2      electronics clocks       no   13.62
525872    51600020                  7      electronics clocks       no   13.62

[12174 rows x 5 columns]

In [ ]:
product_vect['price'] = product_vect['price'].apply(lambda x : str(int(x)))

In [ ]:
product_vect['category_brand'] = product_vect['category_code'] + ' ' +  product_vect['price']

In [ ]:
product_vect.head()

,product_id,product_pur_count,category_code,brand,price,category_brand
0,1000978,12,electronics smartphone,samsung,333,electronics smartphone 333
12,1001588,12,electronics smartphone,meizu,128,electronics smartphone 128
24,1002042,3,electronics smartphone,samsung,77,electronics smartphone 77
27,1002062,18,electronics smartphone,samsung,77,electronics smartphone 77
45,1002098,13,electronics smartphone,samsung,370,electronics smartphone 370

In [ ]:
product_vect.to_csv('product_vect.csv')